---
const { title='te olvidaste del titulo', msg ='hola mundo cruel'} = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header class="bg-orange-400 h-20 "></header>
		<menu class="bg-blue-500 flex">
			<li>
				<a class="hover:bg-white/25 px-2 block" href="/">incio</a>
			</li>
			<li>
				<a class="hover:bg-white/25 px-2 block" href="/quienes-somos">quienes somos</a>
			</li>
			<li>
				<a class="hover:bg-white/25 px-2 block" href="/organigrama">organigrama</a>
			</li>
			<li>
				<a class="hover:bg-white/25 px-2 block" href="/contacto">contacto</a>
			</li>
			
		</menu>

		<slot />
		<p>tu mensaje es:{msg}</p>
	</body>
</html>

<style is:global>
	@font-face {
  font-family: 'myfont';
  src: url('/fonts/Tiny5-Regular.ttf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
</style>

